/*
    Import
 */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan');

/**
    General
 */
body{
    background-color: #e1f5fe;
    margin: 0;
    font-family: 'Roboto', 'Montserrat', sans-serif;
}

h1{
    font-family: 'Montserrat';
    font-weight: bold;
    font-style: normal;
    margin: 0;
}

/**
    App
 */
.app{
    margin: 2rem 2rem 0 2rem;
    height: calc(100vh - 4rem);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 10px;
}

.sidebar{
    min-height: calc(100vh - 4rem);
    background-color: #7e57c2;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.sidebarContent{
    margin: 0 auto 0 auto;
}

.appContentContainer{
    background-color: white;
    overflow-y: scroll;
    max-height: calc(100vh - 4rem);
    height: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.sidebarContent .accordion-menu .is-accordion-submenu-parent:not(.has-submenu-toggle) > a::after{
    border: none;
}

.appContentContainer::-webkit-scrollbar-track
{
    background-color: transparent;
    border-radius: 10px;
}

.appContentContainer::-webkit-scrollbar
{
    width: 10px;
    background-color: transparent;
    border-radius: 10px;
}

.appContentContainer::-webkit-scrollbar-thumb
{
    border-radius: 5px;
    background-color: #7e57c2;
}

.appContentTopbar{
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    background-color: white;
    padding: 1.8rem 2.5rem 0 2.5rem;
}

.logout{
    color: #f44336;
    font-size: 40px;
    float:right;
    padding: 0.7rem 0 0 0
}

.logout:hover{
    text-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.appContent{
    padding: 2.5rem 2.5rem 0 2.5rem;
}

.logo h1{
    font-family: 'Baloo Chettan';
    text-align: center;
    font-weight: normal;
    padding: 2.5rem 2.5rem 0 2.5rem;
}

.logo a{
    color: #0a0a0a;
}

.menu{
    margin-top: 1.5rem;
    margin-left: 2.5rem;
}

.menu a{
    padding-left: calc(25% - 2.5rem);
    color: #0a0a0a;
}

.menu a:hover{
    color: white;
}

.menu .is-active > a{
    background-color: #b085f5;
    border-radius: 10px 0px 0px 10px;
}

/**
    LoginScreen
 */
.loginScreenContainer{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.loginScreen{
    background-color: white;
    height: 600px;
    width: 400px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 10px;
    padding: 2rem;
}

.loginScreen .input-group-label{
    border-radius: 10px 0 0 10px;
}

.loginScreen .input-group-field{
    border-radius: 0 10px 10px 0;
}

.loginButtonContainer{
    display: block;
    top: 2rem;
    display: block;
    padding-top: 2rem;
}

.loginButton{
    background-color: #7e57c2;
    border-radius: 10px;
    float: right;
}

.loginButton:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    background-color: #b085f5;
    transition: box-shadow 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

.loginFormContainer{
    height: 100%;
    width: 100%;
    display: flex;
}

.loginForm {
    width: 100%;
    align-self: center;
}